#backgroundPane1{
    -fx-background-image: url(../images/warehouse.png);    
    -fx-background-size: 105% ;    
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#backgroundPane2{
    -fx-background-image: url(../images/warehouse9.jpg);    
    -fx-background-size: 105%;    
    
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#rootPane{
    -fx-background-color: black;
}

.combo-box, .column-header-background, .button{
     -fx-base: goldenrod;     
}
.button:disabled{
    -fx-base: #323232;
    -fx-background-color: transparent;
    -fx-border-color: #444444;
    -fx-border-radius: 5;
    
}

.combo-box-popup{    
    -fx-base: #323232;
}

.context-menu{
    -fx-base: #323232;    
}



#loginPane{
    -fx-background-color: #000000aa;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;

}

.buttonAll{    
   
    
    -fx-base: goldenrod;
          
}




#tfUser{
    -fx-border-radius: 7 7 0 0;
    -fx-background-radius: 10 10 0 0; 
    
    
    
}
#pfPassword{
    -fx-border-radius: 0 0 7 7;
    -fx-background-radius: 0 0 10 10;     

}
