<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body><center>
        <font face="verdana">

        <b>Alterando permissões de usuário</b>
        <br/>
        <br/> O Pyxis WMS permite gerenciar o acesso dos usuários às telas principais. O recurso que lhe permite fazer
        isso é a tela "Perfis". Todo usuário tem um perfil atribuído à sua conta, podendo vários usuários possuírem o
        mesmo perfil. Cada perfil tem permissões atribuídas a ele, referentes às telas principais. Para alterar os níveis
        de acesso do usuário "X", crie um novo perfil na tela de perfis.

        <img src="img/tip2-1.png" alt="" />

        <br/> Selecione o perfil criado para altera-lo.


        <img src="img/tip2-2.png" alt="" />

        <br/> Selecione as permissões e clique em "Alterar".


        <img src="img/tip2-3.png" alt="" />

        <br/> O perfil já está criado, agora falta atribuir o perfil aos usuários desejados. Faça isso na tela "Usuários".

        <br/>
        <img src="img/tip2-4.png" alt="" />
        <br/>

        </font>
    </center>
</body>

</html>