<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
    <center>
        <font face="verdana">

        <b>Itens</b>
        <br/><br/> Todos os itens com o qual o estoque trabalhará deve ser cadastrado na tela "Item", independente de ele
        estar presente no estoque ou não.
        <br/><br/>
        É necessário inserir a Marca, grupo e Tipo de item antes da inserção do itens.
        <br/><br/>
        <img src="img/tip3-1.png" alt="" />
        <br/><br/>
        É possivel procurar itens na tabela "Item", escrevendo na barra de pesquisa e filtrando o campo.
        <br/><br/>
        <img src="img/tip3-2.png" alt="" />
        </font>
    </center>
</body>

</html>