<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <center>
        <font face="verdana">

            <b>Estoque</b>
            <br/><br/>
            Todos os itens que estarão no estoque, poderá ser acessado na Tela "Estoque".
            <br/><br/>
            <b>Mapa de Estoque</b>
            <br/><br/>
            Onde é armazenado a informação fisica dos itens armazenados no estoque.
            <br/><br/>
            <img src="img/tip4-1.png" alt="" />
            <br/><br/>
           Nesta tela é possivel mapear o seu estoque de acordo com os corredores, estantes e prateleiras que deseja fazer a inclusão.
            <br/><br/>
        </font>
    </center>
</body>

</html>