#rootPane, .root{
     -fx-background-color: #f0f0f0;     
    -fx-base: #f0f0f0;
}
.tab, .button{
    
    -fx-base: #0b8bb7;
}

.button:disabled{
    -fx-base: #f0f0f0;
    -fx-background-color: transparent;
    -fx-border-color: #b0b0b0;
    -fx-border-radius: 5;
    
}


.combo-box, .column-header-background, .button{
     -fx-base: #0b8bb7;     
}
.combo-box-popup{    
    -fx-base: #f0f0f0;
}

.context-menu{
    -fx-base: #f0f0f0;    
}
.tooltip{    
    -fx-text-fill: #0b8bb7;  
    -fx-background-color: #ffffffdd;
}
.scroll-pane > .viewport{
    -fx-background-color: transparent;
}

.scroll-pane, #rootTabPane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal{
    -fx-base: #0b8bb7;
    -fx-background-color: #f0f0f0;
}


.scroll-bar:vertical{
    -fx-base: #0b8bb7;
    -fx-background-color: #f0f0f0;

}


.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 4;


}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:  2;


}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 10 0 4 0;   
}


.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:  2;    
}
