#rootPane, .root{
     -fx-background-color: lightgrey;      
    -fx-base: #f0f0f0;
}
.button, .date-picker .arrow-button{
    
    -fx-base: #0b8bb7;
}

.button:disabled{
    -fx-base: #f0f0f0;
    -fx-background-color: transparent;
    -fx-border-color: #b0b0b0;
    -fx-border-radius: 5;
    
}

.tab-pane {
    -fx-tab-min-width: 90px;
    
}
.tab-pane .tab-header-area .tab-header-background{
    -fx-opacity: 0;
}

.combo-box, .column-header-background, .button{
     -fx-base: #0b8bb7;     
}
.combo-box-popup{    
    -fx-base: #f0f0f0;
}

.context-menu{
    -fx-base: #0b8bb7;    
    
}

.tooltip{    
    -fx-text-fill: #0b8bb7;  
    -fx-background-color: #ffffffdd;
}

.tab{
    -fx-background-insets: 0 0.75 0 0.75, 0 0.75 0 0.75, 0 0.75 0 0.75;
}
.tab-pane .tab{
    -fx-base: #0b8bb7;
    -fx-background-color: #0b8bb7;
}
.tab-pane .tab:selected{
    -fx-base: #f0f0f0;
    -fx-background-color: #f0f0f0;
}

#backgroundPane{
    -fx-background-color: lightgrey;
}

.tab .tab-label{
    -fx-alignment:  CENTER;
    -fx-text-fill: #f0f0f0;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: #0b8bb7;
}

.tab-content-area{
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 5;
}

.gray-border{
    -fx-border-color: #b0b0b0;
    -fx-border-width: 1;
}
